@using AutoservisSystem.Shared
@using AutoservisSystem.Shared.Models

@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="panel @(Collapsed ? "collapse": "" ) ">
    <h5 style="padding-left:15px;">Zákazky</h5>
    <br />
    @if (Customer.Orders != null)
    {
        foreach (Order order in Customer.Orders)
        {
            <div class="panel-body" style="padding-top: 15px;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2"><b>Prijatá : </b>@order.ReceivedDate.ToString("dd.MM.yyyy")</div>
                        <div class="col-sm-2"><b>EČV : </b>@order.CarEvidenceNumber</div>
                        @if (order.Done)
                        {
                            <div class="fs-3 mb-3 col-sm-2">
                                <b>Dokončená :</b>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16" style="color:#498205">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                </svg>
                            </div>
                        }
                        else
                        {
                            <div class="fs-3 mb-3 col-sm-2">
                                <b>Dokončená :</b>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16" style="color:#a4262c;">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"></path>
                                </svg>
                            </div>
                        }
                        <div class="col-sm-2"><b>Úloha : </b>@order.Tasks.First().Description</div>
                    </div>
                </div>
            </div>
            <br />
        }
    }

</div>


@code{
    [Parameter]
    public bool Collapsed { get; set; } = true;
    [Parameter]
    public Customer Customer { get; set; }


    public void Dispose()
    {
        
    }
}
